* {
  // border: 1px solid red;
}
.about {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;

  .aboutmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 100px;
    overflow: hidden;
    .mdiv1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 250px;
      width: 100%;
      overflow: hidden;

      h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        height: 15rem;
        font-size: 10rem;
        letter-spacing: 2rem;
        font-weight: 500;
        color: rgb(128, 0, 0);
        transition: 0.5s;
        .N {
          animation: moveupdown 5s infinite linear;
        }
        .E {
          animation: moveupdown 5s 0.4s infinite linear;
        }
        .T {
          animation: moveupdown 5s 0.8s infinite linear;
        }
        .F {
          animation: moveupdown 5s 1.2s infinite linear;
        }
        .L {
          animation: moveupdown 5s 1.6s infinite linear;
        }
        .I {
          animation: moveupdown 5s 2s infinite linear;
        }
        .X {
          animation: moveupdown 5s 2.4s infinite linear;
        }
        @keyframes moveupdown {
          0% {
            transform: translateY(0px);
            transition: 0.5s;
          }

          40% {
            scale: 1.05;
            transform: translateY(-20px);
            color: rgb(188, 2, 2);
            text-shadow: 0 10px 10px rgb(28, 0, 0);
          }

          55% {
            transform: translateY(-10px);
          }

          80% {
            transform: translateY(20px);
          }

          100% {
            transform: translateY(0px);
          }
        }
      }
    }
    .mdiv2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 450px;
      width: 100%;
      h3 {
        font-family: sans-serif;
        letter-spacing: 0.5rem;
        text-align: center;
        text-shadow: 0px 5px 3px rgb(0, 0, 0);
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}







